<div class="modal" tabindex="-1" id="confirmDeleteModal">

    <div class = "modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure we are deleting?</p>

                

            </div>

            <div class = "Modal-footer">&ensp; &ensp;
                <button type="button" class="btn btn-danger" @onclick = "OnClick">Yes</button>
                &ensp;
                <button type="button" class="btn btn-secondary" data-dismiss = "modal">Cancel</button>
                <br />
                <br />
           
            </div>

        </div>



    </div>


</div>




@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }



}
