@page "/Introduction"

<PageTitle>Introduction</PageTitle>

<h1>Introduction</h1>

<b>The Business Support Desk (BSD) is a service that provides assistance and support to businesses and their clients. <br>
    It typically involves a team responsible for answering calls, logging tickets, performing initial diagnosis and 
    resolution <br> of incidents, and escalating issues to the appropriate teams when necessary. The BSD ensures that 
    service level<br> agreements are monitored and customer feedback is taken into account to maintain quality and satisfaction.
    <br><br>
The Fund Administration Business Support Desk (FA BSD) at MUFG Retirement Solutions is split into two teams:<br> one that handles 
client and business support, and another that provides application support. The FA BSD team is <br>vital for IT service delivery, 
offering the first point of contact and support for clients and the business, while the <br>application support team provides 
1.5 / 2nd level triage on incidents raised by users or monitoring systems.
<br><br>
We report under the Business Technology Services (BTS) domain who are crucial for the running of MUFG Pension & <br>Market Services 
Technology, offering help desk services, technology operations, an engineering function, and resources <br>to support the 
relationship between technology and business stakeholders.
<br><br>
The role as a IT Support Analyst typically involves interacting with these services, especially in managing incidents <br>
and providing support to ensure smooth business operations.
<br><br>


The FA BSD team consistst of IT Support Analysts' are professionals who specializes in providing technical support<br> and troubleshooting services
for IT systems. They play a critical role in ensuring the smooth operation of an organization's<br> IT infrastructure by 
addressing a variety of technical issues that may arise.
<br><br>
The role of a IT Support Analyst are mainly responsible for:
<br><br>
1. Diagnosing and resolving technical problems.<br>
2. Providing support for IT hardware, software, and systems.<br>
3. Assisting with the implementation of new IT solutions.<br>
4. Collaborating with IT teams to enhance system performance.<br>
5. Training and supporting end-users.<br />
6. Managing IT service requests and maintaining documentation.
<br><br>
Our position requires a combination of technical expertise, problem-solving skills, and the ability to communicate
effectively with <br>both technical and non-technical stakeholders. It's a role that demands staying up-to-date with the
latest technologies and industry <br>best practices to provide the highest level of support.
<br><br>
FA BSD is primarily situated at Paramatta Sydney NSW 
</b>
<br>
<br><br>
<br>




@code {

}
