@page "/Test"
@inject IToastService toastService


<button class="btn btn-info" @onclick="@(()=> toastService.ShowInfo("Info Message"))">Info Toast</button>
<button class="btn btn-success" @onclick="@(()=> toastService.ShowSuccess("Success Message"))">Success Toast</button>
 
@code {
     
}