@page "/"
@inject IToastService toastService
<PageTitle>Welcome to Web Fund Admin BSD</PageTitle>
<img src="/Images/FA-BSD-Homepage-image-a.png"
asp-append-version="true" width="250px" />
<h1><b>Hello and Welcome to the Web Fund Admin BSD Site! </b></h1>

<b>Welcome to MUFG Retirement Solutions. We are a global, 
digitally enabled business where innovation drives our
purpose to connect millions of people with their 
assets – safely, securely and responsibly.</b>
<br>
<br><br>
<br>
    &emsp;
<div class="image-row">
      
<img src="/Images/FA-BSD-Homepage-image-1.png"
alt=""
 width="450px"/>


<img src="/Images/FA-BSD-Homepage-image-3.png" alt=""
  width="450px" />

<img src="/Images/FA-BSD-Homepage-image-2.png" alt=""
  width="450px"/>
</div>


<br>
<br>
<b>We combine our state-of-the-art proprietary technology</b>, experience-led capabilities, and people expertise to deliver a comprehensive financial data solution that manages regulatory complexity and improves data 
<br>management across all superannuation and pension fund sectors, including government, industry, retail, and corporate.
<Br><br>
<b>Our vision is to build a global retirement ecosystem </b> that evolves with the needs of clients and their members,
incorporating new capabilities as they emerge to support client growth ambitions and help members 
<br>achieve their best possible retirement outcomes.
<br><br>
<b>We are proud of our global workforce.</b> Our MUFG Retirement Solutions teams work together across Australia, New Zealand, 
India, Hong Kong, Ireland and the United Kingdom to provide an exceptional experience for<br> our clients, their members, and employers.
<br><br>
<b>We are led by our People First philosophy. </b>Our Great Place to Work initiative creates an environment where our people are recognised, developed, and encouraged to thrive.


<SurveyPrompt Title="Please provide us any feedback to improve your experience on this site." />
