<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage"  style= "color:floralwhite">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link" style= "color:floralwhite">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register" style= "color:floralwhite">Register</a>
        <a href="Identity/Account/Login" style= "color:floralwhite">Log in</a>
    </NotAuthorized>
</AuthorizeView>
